body {
	font-family: "Roboto";
}
/* css header */
header {
	background-color: #434242;
	position: fixed;
	width: 100%;
}
.sumate {
	background-color: #E7CB2E;
	text-align: center;
	margin: 30px auto;
	padding: 10px;
	width: 90px;
}
.sumate a {
	text-decoration: none;
	color: white;
}
header nav {
	text-align: right;
	margin: 30px 50px;
}
header nav a  {
	text-decoration: none;
	color: white;
	font-size: 15px;
	margin: 20px 10px;
}
/* css banner */
.banner {
	text-align: center;
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	height: 800px;
}
.banner h1, p{
	color: white;
}
.banner h1 {
	margin: 350px auto 0 auto;
	font-size: 35px;
}
.banner p {
	font-size: 20px;
}
/* css ejemplos */
.ejemplos {
	background-color: #E7E4E4;
	padding-left: 120px;
	text-align: center;
}
.ejemplos .grid-50 {
	background-color: white;
	width: 450px;
	margin: 20px;
}
.ejemplos img {
	width: 300px;
	height: 300px;
	text-align: center;
	margin-left: 0px;
	margin-top: 20px;
	border-radius: 100%;
}
.ejemplos h2 {
	color: #8C8A8A;
}
.textoEjemplo {
	color: #B0ACAC;
	font-size: 13px;
}
.leerMas {
	background-color: #F8DA35;
	color: white;
	width: 100px;
	text-align: center;
	margin: 5px auto;
	padding: 10px auto;
}
footer {
	background-color: #434242;
	color: white;
	padding-left: 20px;
	font-size: 15px;
}
footer p {
	margin: 10px auto 40px 50px;
}